<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildNumber</key>
	<string>AUTOFILL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>GPGPreferences</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.gpgtools.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>AUTOFILL</string>
	<key>CFBundleVersion</key>
	<string>AUTOFILL</string>
	<key>CommitHash</key>
	<string>AUTOFILL</string>
	<key>NSMainNibFile</key>
	<string>GPGToolsPref</string>
	<key>NSPrefPaneIconFile</key>
	<string>Icon.icns</string>
	<key>NSPrefPaneIconLabel</key>
	<string>GPGPreferences</string>
	<key>NSPrincipalClass</key>
	<string>GPGToolsPref</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://gpgtools.org/releases/gpgpreferences/appcast.xml</string>
	<key>SUFeedURL_nightly</key>
	<string>https://nightly.gpgtools.org/releases/gpgpreferences/appcast.xml</string>
	<key>SUFeedURL_prerelease</key>
	<string>https://gpgtools.org/releases/gpgpreferences/pre-appcast.xml</string>
</dict>
</plist>
