<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.gpgtools.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleVersion</key>
	<string>0.8</string>
	<key>NSPrefPaneIconLabel</key>
	<string>GPGTools</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleDisplayName</key>
	<string>GPGTools</string>
	<key>NSPrincipalClass</key>
	<string>GPGToolsPref</string>
	<key>NSPrefPaneIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>NSMainNibFile</key>
	<string>GPGToolsPref</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7</string>
</dict>
</plist>
